@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
*{
    font-family: 'Dosis', sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb{
        background-color: #cd9452;
    }
}

section{
    padding: 2rem 4%;
}

.heading{
    font-family: "Nunito", sans-serif;
    text-align: center;
    position: relative;

    &::before{
        content:'';
        position: absolute;
        top: 50%;
        left: 0;
        transform: scaleY(-50%);
        height: .1rem;
        width: 100%;
        background: #bbb;
        z-index: -1;
    }

    span{
        color: #cd9452;
        font-size: 3rem;
        background: #fff;
        padding: .5rem 1.5rem;
        border-radius: 5rem;
    }
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    background: rgba(255,255,255,.3);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 4%;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
   z-index: 99999;

    .header-contact{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: .1rem solid #e1e1e1;
        padding: 1.5rem 0;

        .phone,
        .gmail{

            .mobile-phone,
            .mobile-rotaty,
            .gmail-contact{
                font-size: 1.4rem;
                color: #333;
                
                i{
                    padding-right: .5rem;
                }
            }

            .mobile-phone{
                margin-right: 1.5rem;
            }
        }

        .gmail{

            .gmail-contact{
                text-transform: none;
            }
        }
    }

    .header-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            display: flex;
            align-items: center;
    
            img{
                width: 6rem;
                height: 100%;
            }
    
            h3{
                text-transform: uppercase;
                color: #333;
                font-size: 1.8rem;
                font-family:'Courier New', Courier, monospace;
            }
    
            span{
                color: #333;
                font-size: 1.4rem;
                text-transform: uppercase;
            }
        }
    
        .navbar{
    
            a{
                font-size: 1.7rem;
                color: #333;
                margin-right: 3rem;
    
                &:hover{
                    border-bottom: .2rem solid #333;
                }
            }
        }
    
        .icons{
            display: flex;

            #search-btn{
                position: relative;
                font-size: 2.5rem;
                color: #333;
                padding:  1rem;
                margin-right: 1rem;
                    
                    .search-form{
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        width: 50rem;
                        height: 25rem;
                        background: #fff;
                        box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
                    }
            }
    
            #menu-btn{
                font-size: 2.5rem;
                padding: 1rem;
                color: #333;
                display: none;
                cursor: pointer;
            }
        }
    }

}



// home
.home{
    padding: 10rem 0 0;
    background: #222;

    .slide-top{
        background-size: cover ;
        background-position: top ;
    }
    .slide{
        min-height: 100vh;
        background-size: cover !important;
        background-position: center !important;
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content:left;

        .content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
            width: 80rem;
            
            h3{
                font-size: 3rem;
                line-height: 2;
                text-transform: uppercase;
                font-family: serif;
                color:#e1e1e1;
                text-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
                line-height: 1;
                padding:2rem 0;            
            }

            .btn{
                font-weight: bolder;
                letter-spacing: .5rem;

                &:hover{
                    background: rgba(0,0,0,.3);
                    border: .2rem solid #fff;
                    letter-spacing: 1rem;
                }
            }
        }
    }

    .swiper-slide-active{

        .content{
            display: inline-block;
        };
    }
}

.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    color:#fff;
}

.swiper-button-next::after,
.swiper-button-prev:after{
    font-size: 3rem;
}

// trendding

.trendding{

    .slide{
        text-align: center;
        padding: 4rem 2rem;
        border-radius: .5rem;;
        margin-bottom: 3rem;

        h3{
            text-transform: none;
            font-size: 1.8rem;
            font-weight: 400;
            padding: 1.5rem 0;
            color: #333;
        }
    }
}

// standard
.standard{
    background: #181818;

    .row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .box-container{
            flex: 1 1 45rem;

            .box{
                display: flex;
                align-items: center;
                margin: 3rem 0 4rem;

                .content{
                    padding-left: 1rem;

                    h3{
                        font-size: 2.5rem;
                        text-transform: none;
                        color: #fff;
                    }

                    p{
                        font-size: 1.8rem;
                        color: #fff;
                        text-transform: none;
                    }
                }
            }
        }

        .images{
            flex: 1 1 45rem;
            position: relative;
            display: flex;
            overflow: hidden;

            img{
                object-fit: cover;
                width: 100%;
                border: 1rem solid #fff;
            }

            .model-content{
                position: absolute;
                    top: 1rem;
                    left: 1rem;
                    right: 1rem;
                    bottom: 1rem;    ;
                    background: rgba(0,0,0,.7);
    
                .content{
                    padding: 2rem;
                    width: 100%;
                    height: 15rem;
                    margin: auto
    
                    span{
                        font-size: 2.5rem;
                        color: #fff;
                    }
    
                    h3{
                        font-size: 4rem;
                        color: #fff;
                    }
    
                    p{
                        text-transform: none;
                        font-size: 1.7rem;
                        font-weight: bolder;
                        line-height: 2;
                        color: #fff;
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}

// necklace
.necklace,
.earring,
.bangles,
.silring{

    .slide{
        position: relative;
        width: 25rem;
        height: 100%;
        background: #f1f1f1;
        text-align: center;
        align-items: center;
        margin: 4rem 0 5rem;
        border-radius: .5rem;
        border: .1rem solid #bbb;
        overflow: hidden;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);

        .new-text{
            width: 3.5rem;
            height: 3.5rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        &:hover{
            cursor: pointer;
        }

        img{
            width: 100%;

            &:hover{
                transform: scale(1.2);
            }
        }

        .content{
            margin: 1rem .5rem;

            h3{
                text-transform: none;
                font-weight: 400;
                font-size: 1.7rem;
                margin-bottom: 1rem;
            }
    
            .price{
                font-size: 1.7rem;
            }
        }
    }

    img{
        padding: 0;
        width: 100%;
        margin-bottom: 2rem;
    }
}

// client-slider
.client {
    background: url(../img/footer1.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .slide{
        
        .text{
            padding: 2rem;
            font-size: 1.5rem;
            font-style: italic;
            background: #eee;
            border-radius: 1rem;
            color: #10221b;
            line-height: 2;
            position: relative;
            z-index: 0;
            margin: 3rem 0;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
            z-index: 1;

            &::before{
                content: '';
                position: absolute;
                bottom: -1.4rem;
                left: 1.2rem;
                height: 4rem;
                width: 3rem;
                background: #eee;
                transform: rotate(45deg);
            }
        }

        .user{
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 4rem;

            img{
                height: 7rem;
                width: 7rem;
                border-radius: 50%;
            }

            .info{

                h3{
                    font-size: 2rem;
                    color: #fff;
                }

                span{
                    color: #fff;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.footer{
    background: #13131a;

    .row{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        object-fit: cover;
        gap: 1rem;
        padding: 3rem 0;

        .map{
            flex: 1 1 42rem;
        }

        .icons-container{
            flex: 1 1 42rem;
    
            .icons{
                padding:2rem;

                .title{
                    display: flex;
                    align-items: center;

                    i{
                        padding-right: 1rem;
                        color: #fff;
                        margin-bottom: .5rem;
                        font-size: 2rem;
                    }
        
                    h3{
                        font-size: 2rem;
                        color:#cd9452;
                        padding:1rem 0;
                    }
        
                }
   
                .content{
                    p,
                    a{
                        line-height: 1.5;
                        font-size: 1.7rem;
                        color: #fff;
                        text-transform: none;
                        padding: 1rem;
                    }

                    a:hover{

                        i{
                            padding-right: 1.5rem;
                        }
                    }

                    p:hover{

                        i{
                            padding-right: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}



// view model
.product-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    z-index: 9999999;
    display: none;
    justify-content: center;

    .preview{
        text-align: center;
        background: #fff;
        padding: 3rem 2rem;
        margin: auto;
        border-radius: 2rem;
        display: none;
        width: 70rem;
        height: 50rem;

        &.active{
            display: inline-block;
            animation: fadeDown linear .3s;
        }

        img{
            flex: 1 1 25rem;
        }

        h3{
            padding:1rem 0;
            font-size: 2.5rem;
            color:#333;
        }

        .stars{
            margin-top: .5rem;

            i{
                font-size: 1.7rem;
                color:#cd9452;
            }
        }

        p{
            font-size: 1.6rem;
            color:#333;
            padding:1rem 0;
            line-height: 2;
        }

        .price{
            font-size: 2.5rem;
            color: #333;
            margin-bottom: .5rem;
        }
    }
}

#close-preview{
    position: absolute;
    top:1.5rem;
    right:2.5rem;
    padding: 1rem;
    font-size: 3rem;
    cursor: pointer;
    color:#fff;

    &:hover{
        transform: rotate(180deg);
    }
}

@keyframes fadeDown{
    from{
        opacity: 0;
        transform: translateY(-15rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* media queries  */

@media (max-width:1200px){

    section{
       padding:3rem 5%;
    }
 
 }
 
 @media (max-width:991px){
 
    section{
       padding:3rem 2rem;
    }
 
    html{
       font-size: 55%;
    }
 
    .home{
        .slide{
            .content{
                width: 90%;
                h3{
                    font-size: 3rem;
                }
            } 
        } 
    }
 
 }
 
 @media (max-width:897px){

    .header{

        .header-wrap{

            .icons{
                #menu-btn{
                    display: inline-block;
                }
            }

            .navbar{
                display: block;
                position: absolute;
                top:99%; 
                left:0; 
                right:0;
                background-color: #fff;
                transition: all .3s;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            
                &.active{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
    
                .nav-item{
                    color: #333;
                    display: block;
                    margin: 2rem;
                    padding:1.3rem 1rem;
                    max-width: 100%;    
                    font-weight: bolder;
                    
                    &:hover{
                        background: #e1e1e1;
                        border-bottom: .3rem solid #333;
                    }
                }
            }
        }
    }
}

@media (max-width:768px){




}

@media (max-width:600px){
    .home{
        .slide{
            .content{
                // padding: 0 25rem;
                h3{
                    font-size: 3rem;
                }
            } 
        } 
    }
}

@media (max-width:540px){
    
}
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .product-container{
    
        .preview{
            text-align: center;
            background: #fff;
            padding: 3rem 2rem;
            margin: auto;
            border-radius: 2rem;
            display: none;
            width: 100%;
            height: auto;
    
            &.active{
                display: inline-block;
                animation: fadeDown linear .3s;
            }
    
            img{
                flex: 1 1 25rem;
                width: 100%;
            }
    
            h3{
                padding:1rem 0;
                font-size: 2.5rem;
                color:#333;
            }
    
            .stars{
                margin-top: .5rem;
    
                i{
                    font-size: 1.7rem;
                    color:#cd9452;
                }
            }
    
            p{
                font-size: 1.6rem;
                color:#333;
                padding:1rem 0;
                line-height: 2;
            }
    
            .price{
                font-size: 2.5rem;
                color: #333;
                margin-bottom: .5rem;
            }
        }
    }
    
 
 }















