@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
*{
    font-family: 'Dosis', sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb{
        background-color: #cd9452;
    }
}

section{
    padding: 2rem 7%;
}

.heading{
    font-family: "Nunito", sans-serif;
    text-align: center;
    position: relative;

    &::before{
        content:'';
        position: absolute;
        top: 50%;
        left: 0;
        transform: scaleY(-50%);
        height: .1rem;
        width: 100%;
        background: #bbb;
        z-index: -1;
    }

    span{
        color: #cd9452;
        font-size: 3rem;
        background: #fff;
        padding: .5rem 1.5rem;
        border-radius: 5rem;
    }
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    background: rgba(255,255,255,.3);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 7% 0;
    z-index: 99 ;
    
    &.active{
        background: #fff;

        .header-wrap{
            .contacts{

                #bars-btn{
                    color: #333;
                }
            }

            .logo{
                display: flex;
                align-items: center;
    
                .title{
    
                    .title-up{
                        color: #333;
                    }
    
                    .title-down{
                        color: #333;
                    }
                }
            }

            #search-btn{
                color: #333;
            }
        }
    }


    .header-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .contacts{

            .gmail{
                color: #e1e1e1;
                text-transform: none;
                font-size: 1.5rem;
                font-weight: bolder;

                &:hover{
                    color: #fff;
                }
            }

            #bars-btn{
                display: none;
                padding: 1rem;
                font-size: 2.5rem;
                color: #fff;
            }
        }

        .logo{
            display: flex;
            align-items: center;

            .title{

                .title-up{
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 3rem;
                    font-weight: bolder;
                    color: #eeebeb;

                    i{
                        font-size: 2.5rem;
                    }
                }

                .title-down{      
                    text-align: center;
                    font-size: 2rem;
                    color: #ccc;
                }
            }
        }

        #search-btn{
            color: #fff;
            cursor: pointer;
            font-size: 2.5rem;
            position: relative;
        }
    }

    .search-form{
        position: absolute;
        top: 10rem;
        right: 3.5rem;
        width: 28rem;
        padding: .6rem;
        text-align: center;
        background: #fff;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
        border-radius: .3rem;
        z-index: 10 !important;
        visibility: hidden;
        opacity: 0;

        &.active{
            visibility: visible;
            opacity: 1;
        }

        i{
            display: none;
            font-size: 1.7rem;
            float: right;
        }

        .box-search{
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            background: #fff;
            border: #e9eaec;
            border-radius: 5rem;
            
            input{
                padding-left: 1.5rem;
                font-size: 1.6rem;
                width: 100%;
                color: #111;
                text-transform: none;
            }

            span{
                font-size: 2rem;
                color: #333;
                padding: 1.5rem;
            }
        }
    }

    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        .nav-item{
            color: #fff;
            margin-left: 4rem;
            font-size: 1.8rem;

            &:hover{
                border-bottom: .3rem solid #fff;
            }
        }
    }
}

.sticky{
    transition: all .5s;
    background: rgba(255,255,255, 1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);

    .header-wrap{

        .contacts{

            .gmail{
                color: #333;

                &:hover{
                    color: #333;
                }
            }

            
            #bars-btn{
                font-size: 2rem;
                color: #333;
            }
        }

        .logo{
            

            i{
                color: #333;
            }

            .title{

                .title-up{
                    color: #333;
                }

                .title-down{
                    color: #333;
                }
            }
        }

        #search-btn{
            color: #555;
        }
    }

    .navbar{

        .nav-item{
            color: #333;

            &:hover{
                border-bottom: .3rem solid #333;
            }
        }
    }
}


// home
.home{
    padding: 0;
    background: #222;

    .slide-top{
        background-size: cover ;
        background-position: top ;
    }
    .slide{
        min-height: 100vh;
        background-size: cover !important;
        background-position: center !important;
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content:left;

        .content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
            width: 80rem;
            
            h3{
                font-size: 3rem;
                line-height: 2;
                text-transform: uppercase;
                font-family: serif;
                color:#e1e1e1;
                text-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
                line-height: 1;
                padding:2rem 0;            
            }

            .btn{
                font-weight: bolder;
                letter-spacing: .5rem;

                &:hover{
                    background: rgba(0,0,0,.3);
                    border: .2rem solid #fff;
                    letter-spacing: 1rem;
                }
            }
        }
    }

    .swiper-slide-active{

        .content{
            display: inline-block;
        };
    }
}

.swiper-button-next,
.swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    color:#fff;
}

.swiper-button-next::after,
.swiper-button-prev:after{
    font-size: 3rem;
}

// trendding

.trendding{

    .slide{
        text-align: center;
        padding: 4rem 2rem;
        border-radius: .5rem;;
        margin-bottom: 3rem;

        h3{
            text-transform: none;
            font-size: 1.8rem;
            font-weight: 400;
            padding: 1.5rem 0;
            color: #333;
        }
    }
}

// standard
.standard{
    background: #181818;

    .row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .box-container{
            flex: 1 1 45rem;

            .box{
                display: flex;
                align-items: center;
                margin: 3rem 0 4rem;

                .content{
                    padding-left: 1rem;

                    h3{
                        font-size: 2.5rem;
                        text-transform: none;
                        color: #fff;
                    }

                    p{
                        font-size: 1.8rem;
                        color: #fff;
                        text-transform: none;
                    }
                }
            }
        }

        .images{
            flex: 1 1 40rem;
            background-position: center;
            background-size: contain;
            position: relative;
            display: flex;

            img{
                width: 100%;
                border: 1rem solid #fff;
            }

            .model-content{
                position: absolute;
                    top: 1rem;
                    left: 1rem;
                    right: 1rem;
                    bottom: 1rem;    ;
                    background: rgba(0,0,0,.7);
    
                .content{
                    padding: 2rem;
                    width: 100%;
                    height: 15rem;
                    margin: auto
    
                    span{
                        font-size: 2.5rem;
                        color: #fff;
                    }
    
                    h3{
                        font-size: 4rem;
                        color: #fff;
                    }
    
                    p{
                        text-transform: none;
                        font-size: 1.7rem;
                        font-weight: bolder;
                        line-height: 2;
                        color: #fff;
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}

// necklace
.necklace,
.earring,
.bangles,
.silring{

    .slide{
        position: relative;
        width: 25rem;
        height: 100%;
        background: #f1f1f1;
        text-align: center;
        align-items: center;
        margin: 4rem 0 5rem;
        border-radius: .5rem;
        border: .1rem solid #bbb;
        overflow: hidden;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);

        .new-text{
            width: 3.5rem;
            height: 3.5rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        &:hover{
            cursor: pointer;
        }

        img{
            width: 100%;

            &:hover{
                transform: scale(1.2);
            }
        }

        .content{
            margin: 1rem .5rem;

            h3{
                text-transform: none;
                font-weight: 400;
                font-size: 1.7rem;
                margin-bottom: 1rem;
            }
    
            .price{
                font-size: 1.7rem;
            }
        }
    }

    img{
        padding: 0;
        width: 100%;
        margin-bottom: 2rem;
    }
}

// client-slider
.client {
    background: url(../img/footer1.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .slide{
        
        .text{
            padding: 2rem;
            font-size: 1.5rem;
            font-style: italic;
            background: #eee;
            border-radius: 1rem;
            color: #10221b;
            line-height: 2;
            position: relative;
            z-index: 0;
            margin: 3rem 0;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
            z-index: 1;

            &::before{
                content: '';
                position: absolute;
                bottom: -1.4rem;
                left: 1.2rem;
                height: 4rem;
                width: 3rem;
                background: #eee;
                transform: rotate(45deg);
            }
        }

        .user{
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 4rem;

            img{
                height: 7rem;
                width: 7rem;
                border-radius: 50%;
            }

            .info{

                h3{
                    font-size: 2rem;
                    color: #fff;
                }

                span{
                    color: #fff;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.footer{

    .icons-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;

        .icons{
            text-align: center;
            padding: 3rem 2rem;

            i{
                height: 6rem;
                width: 6rem;
                border-radius: 50%;
                background: #cd9452;
                color: #fff;
                margin-bottom: .5rem;
                line-height: 5.8rem;
                font-size: 2rem;
            }

            h3{
                font-size: 2rem;
                color:#333;
                padding:1rem 0;
            }

            p,
            a{
                line-height: 1.5;
                font-size: 1.7rem;
                color: #666;
                text-transform: none;
            }

        }
    }
}



// view model
.products-preview{
    z-index: 999999 !important;
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;

   .preview{
        display: none;
        padding:2rem;
        text-align: center;
        background: #fff;
        position: relative;
        width: 40rem;
        border-radius: 1rem;
        animation: fadeDown ease .3s;

        img{
            max-width: 100%;
            height: 23rem;
        }

        &.active{
            display: inline-block;
        }

        .fa-times{
            position: absolute;
            top:1rem; right:1.5rem;
            cursor: pointer;
            color:#444;
            font-size: 2.3rem;

            &.hover{
                transform: rotate(90deg);
            }
        }

        h3{
            font-family:cursive;
            color:#444;
            padding:.5rem 0;
            font-size: 2.5rem;
        }

        .starts{
            padding:1rem 0;
            font-size: 1.7rem;

            span{
                color:#999;
            }
        }

        i{
            color:#fea01c;
        }

        p{
            line-height: 1.5;
            padding:1rem 0 0;
            font-size: 1.4rem;
            color:#777;
            text-transform: none;
        }

        .price-new{
            padding:1rem 0 .5rem;
            font-size: 2.5rem;
            color:#27ae60;

            .price-old{
                margin-left: 1rem;
                font-size: 1.7rem;
                color: #333;
                text-decoration: line-through;
            }
        }

        .buttons{
            display: flex;
            gap:1.5rem;
            flex-wrap: wrap;
            margin-top: .6rem;

            a{
                text-transform: none;
                flex:1 1 16rem;
                padding:1rem;
                font-size: 1.6rem;
                color:#444;
                border:.1rem solid #444;

                &.cart{
                    background: #444;
                    color:#fff;

                    &:hover{
                        border-radius: 1rem;
                        background: #111;
                    }
                }

                &.buy:hover{
                    border-radius: 1rem;
                    background: #319736;
                    color:#fff;
                    border: none;
                }
            }
        }
    }
}

/* media queries  */

@media (max-width:1200px){

    section{
       padding:3rem 5%;
    }
 
 }
 
 @media (max-width:991px){
 
    section{
       padding:3rem 2rem;
    }
 
    html{
       font-size: 55%;
    }
 
    .home{
        .slide{
            .content{
                width: 90%;
                h3{
                    font-size: 3rem;
                }
            } 
        } 
    }
 
 }
 
 @media (max-width:867px){
    .header{
        
        .fa-times{
            transform: rotate(180deg);
        }

        .header-wrap{
            .contacts{

                .gmail{
                    display: none;
                }

                #bars-btn{
                    display: inline-block;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }

        .navbar{
            display: block;
            position: absolute;
            top:99%; 
            left:0; 
            right:0;
            background-color: #fff;
            transition: all .3s;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        
            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            .nav-item{
                color: #333;
                display: block;
                margin: 2rem;
                padding:1.3rem 1rem;
                max-width: 100%;    
                font-weight: bolder;
                
                &:hover{
                    background: #e1e1e1;
                    border-bottom: .2rem solid #333;
                }
            }
        }
    }
}

@media (max-width:768px){




}

@media (max-width:600px){
    .home{
        .slide{
            .content{
                // padding: 0 25rem;
                h3{
                    font-size: 3rem;
                }
            } 
        } 
    }
}

@media (max-width:540px){
    .standard{
    
        .row{
    
            .box-container{
    
                .box{
                    margin: 1rem 0 1.5rem;
    
                    .content{
                        padding-left: 1rem;
    
                        h3{
                            font-size: 2.5rem;
                            text-transform: none;
                            color: #fff;
                        }
    
                        p{
                            font-size: 1.8rem;
                            color: #fff;
                            text-transform: none;
                        }
                    }
                }
            }
    
            .images{
    
                img{
                    width: 100%;
                    border: 1rem solid #fff;
                }
    
                .model-content{
                    position: absolute;
                        top: 1rem;
                        left: 1rem;
                        right: 1rem;
                        bottom: 1rem;  ;
                        background: rgba(0,0,0,.7);
        
                        .content{
                            padding: 2rem;
                            max-width: 100%;
                            height: 15rem;
                            
            
                            span{
                                padding: 0;
                                font-size: 1.5rem;
                                color: #fff;
                            }
            
                            h3{
                                font-size: 2.5rem;
                                color: #fff;
                            }
            
                            p{
                                text-transform: none;
                                font-size: 1.5rem;
                                // font-weight: bolder;
                                line-height: 2;
                                color: #fff;
                            }
                        }
                }
            }
        }
    }
}
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 

 
 }















